robotframework~=7.0.0
robotframework-c8y @ git+https://github.com/reubenmiller/robotframework-c8y.git@0.37.2
robotframework-devicelibrary[docker] @ git+https://github.com/reubenmiller/robotframework-devicelibrary.git@1.15.1