<!-- Change from interact-list to interact-grid to display a grid of cards -->
<c8y-action-bar-item [placement]="'left'" itemClass="navbar-form hidden-xs">
  <c8y-list-display-switch
    (onListClassChange)="displayMode($event)"></c8y-list-display-switch>
</c8y-action-bar-item>
<c8y-action-bar-item itemClass="navbar-form">
  <div class="input-group input-group-search">
    <input
      title="{{ 'Filter' }}"
      type="search"
      class="form-control"
      placeholder="Search…"
      [(ngModel)]="searchText" />
    <span class="input-group-addon">
      <i c8yIcon="search"></i>
    </span>
  </div>
</c8y-action-bar-item>
<c8y-action-bar-item [placement]="'right'" itemClass="navbar-form hidden-xs">
  <label class="c8y-switch">
    <input type="checkbox" [(ngModel)]="showContainerGroups" />
    <span></span> Show container groups
  </label>
  <button title="Reload" class="btn-link" (click)="reload()">
    <i
      c8y-icon="refresh"
      ng-class="{ 'icon-spin': isLoading }"
      class="dlt-c8y-icon-refresh"
      style=""></i>
    Reload
  </button>
</c8y-action-bar-item>

<ng-container *ngIf="containers && containers.length > 0; else noData">
  <div class="card-group" [ngClass]="gridOrList">
    <!-- Add sticky header if needed later-->

    <ng-container
      *ngFor="
        let container of containers
          | containerFilter : showContainerGroups : searchText
      ">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <!-- Card actions - containing a dropdown -->
          <div class="card-actions">
            <div class="dropdown" dropdown>
              <button
                type="button"
                title="Options"
                class="dropdown-toggle c8y-dropdown"
                dropdownToggle>
                <i c8y-icon="ellipsis-v" class="dlt-c8y-icon-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <li>
                  <button
                    type="button"
                    title="View"
                    (click)="router.navigate(['/service', container.id])">
                    <i c8y-icon="eye" class="dlt-c8y-icon-eye"></i>
                    View
                  </button>
                </li>
                <!-- <li>
                  <button
                    type="button"
                    title="Restart"
                    (click)="remove(container.id)">
                    <i
                      c8yicon="restart"
                      class="dlt-c8y-icon-refresh"></i>
                    Restart
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    title="Stop"
                    (click)="remove(container.id)">
                    <i
                      c8yicon="stop"
                      class="dlt-c8y-icon-stop"></i>
                    Stop
                  </button>
                </li> -->
              </ul>
            </div>
          </div>
          <!-- Card header containing the title -->
          <div class="card-header separator">
            <div class="card-icon">
              <i c8y-icon="c8y-package" class="dlt-c8y-icon-package"></i>
            </div>
            <!-- Always add the title attribute -->
            <div class="card-title" title="BlackBone Black">
              <c8y-highlight
                [text]="container.name"
                [pattern]="searchText"></c8y-highlight>
            </div>
          </div>
          <!-- Card body containing the content -->
          <div class="card-block">
            <div
              *ngIf="gridOrList == 'interact-list'"
              class="col-xs-6 col-sm-6 text-truncate">
              <label class="small ng-binding">Status: </label>
              <i
                *ngIf="container.status == 'up'"
                class="text-success dlt-c8y-icon-check-circle"></i>
              <i
                *ngIf="container.status == 'down'"
                class="text-danger dlt-c8y-icon-exclamation-circle"></i>
            </div>
            <div class="col-xs-12 col-sm-12 text-truncate">
              <label class="small ng-binding">Container Id:</label>
              <c8y-highlight
                [text]="container.containerId"
                [pattern]="searchText"></c8y-highlight>
            </div>
            <div class="col-xs-12 col-sm-12 text-truncate">
              <label class="small ng-binding">Filesystem: </label>
              {{ container.filesystem }}
            </div>
            <div class="col-xs-12 col-sm-12 text-truncate">
              <label class="small ng-binding">Port: </label>
              <small>{{ container.ports }}</small>
            </div>
            <div class="col-xs-12 col-sm-6 text-truncate">
              <label class="small ng-binding">Image: </label>
              <small>
                <c8y-highlight
                [text]="container.image"
                [pattern]="searchText"></c8y-highlight>
                </small>
            </div>
          </div>
          <div
            class="card-footer separator"
            *ngIf="gridOrList == 'interact-grid'">
            <span>
              Status:
              <i
                *ngIf="container.status == 'up'"
                class="text-success dlt-c8y-icon-check-circle"></i>
              <i
                *ngIf="container.status == 'down'"
                class="text-danger dlt-c8y-icon-exclamation-circle"></i
            >
             {{container.state}}
          </span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
