<!-- Change from interact-list to interact-grid to display a grid of cards -->
<c8y-action-bar-item [placement]="'left'" itemClass="navbar-form hidden-xs">
  <c8y-list-display-switch
    (onListClassChange)="displayMode($event)"></c8y-list-display-switch>
</c8y-action-bar-item>
<c8y-action-bar-item itemClass="navbar-form">
  <div class="input-group input-group-search">
    <input
      title="{{ 'Filter' }}"
      type="search"
      class="form-control"
      placeholder="Search…"
      [(ngModel)]="searchText" />
    <span class="input-group-addon">
      <i c8yIcon="search"></i>
    </span>
  </div>
</c8y-action-bar-item>
<c8y-action-bar-item [placement]="'right'">
  <button title="Reload" class="btn btn-link" (click)="reload()">
    <i
      c8y-icon="refresh"
      ng-class="{ 'icon-spin': isLoading }"
      class="dlt-c8y-icon-refresh"
      style=""></i>
    Reload
  </button>
</c8y-action-bar-item>
<ng-container *ngIf="groups && groups.length > 0; else noData">
  <div class="card-group" [ngClass]="gridOrList">
    <!-- Add sticky header if needed later-->
    <ng-container *ngFor="let group of groups | groupFilter : searchText">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <!-- Card actions - containing a dropdown -->
          <div class="card-actions"></div>
          <!-- Card header containing the title -->
          <div class="card-header separator">
            <div class="card-icon">
              <i c8y-icon="c8y-packages" class="dlt-c8y-icon-packages"></i>
            </div>
            <!-- Always add the title attribute -->
            <div class="card-title" title="BlackBone Black">
              <c8y-highlight
                [text]="group.project"
                [pattern]="searchText"></c8y-highlight>
            </div>
          </div>
          <!-- Card body containing the content if grid -->
          <div class="card-block overflow-visible">
            <div
              [ngClass]="{
                'card-block overflow-visible': gridOrList == interact - grid
              }"></div>
            <c8y-list-group class="col-sm-12">
              <li *ngFor="let container of group.containers">
                <container-list-item
                  [container]="container"
                  [pattern]="searchText"></container-list-item>
              </li>
            </c8y-list-group>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
