<c8y-li>
  <i
    *ngIf="container.status == 'up'"
    class="text-success dlt-c8y-icon-check-circle"></i>
  <i
    *ngIf="container.status == 'down'"
    class="text-danger dlt-c8y-icon-exclamation-circle"></i>

  <c8y-highlight [text]="container.image" [pattern]="pattern"></c8y-highlight>

  <c8y-li-action
    (click)="router.navigate(['/service', container.id])"
    icon="eye">
    View
  </c8y-li-action>
  <c8y-li-collapse>
    <div class="row">
      <div class="col-xs-12 col-sm-12 text-truncate">
        <label class="small ng-binding">Container Id</label>
        {{ container.containerId }}
      </div>
      <div class="col-xs-12 col-sm-12 text-truncate">
        <label class="small ng-binding">Filesystem: </label>
        {{ container.filesystem }}
      </div>
      <div class="col-xs-12 col-sm-12 text-truncate">
        <label class="small ng-binding">Port: </label>
        <small>{{ container.ports }}</small>
      </div>
      <div class="col-xs-12 col-sm-12 text-truncate">
        <label class="small ng-binding">Networks: </label>
        <small>{{ container.networks }}</small>
      </div>
    </div>
  </c8y-li-collapse>
</c8y-li>
